#apropo{
    margin-top: 3%;
}
.profile2{
    width: 100%;
    border-radius: 50%;

}
#image{
    width: 33%;

}
#text{
    padding-left: 15%;
}
#presentation{
    display: flex;
    align-items: center;
    margin-top: 7%;
    
}
.cv{
display:flex;
justify-content: center;
}

.button-border {
    display: inline-block;
    border: 2px solid rgb(110, 130, 110);
    border-radius: 5px;
    padding: 5px;
  }
  
  .button {
    display: inline-block;
    padding: 10px 100px;
    background-color: rgb(110, 130, 110);
    color: white;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    border: none;

  }
  
  .button:hover {
    background-color: rgb(146, 173, 146);

  }
  
  .button-text {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
  }

/* Competence */


.cardCompetence{
 
  border-radius: 25px;
  width: 150px;
  height: 150px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;;
}
.imgCompetence{
  text-align: center;
  margin: 15px 0;
}
.textCompetence{
  text-align: center;
}
.competenceExperience > h4{  /* mini titre */
  margin-left: 15px;
}