@media (min-width:768px) and (max-width:1023px) { /* format tablette    */
    header{
        display: none;
    }
    .profileinfo,.profile,.likedin,.nav_menu {
        display: none;
    }
    main {
        margin-left: 0;
    }
    #desc{
        font-size: 160%;
    }
    #nom{
        font-size: 310% ;
    }
    #image{
        width: 100%;
    }
    #navmq{
        display: flex;
        flex-direction: column;
    }
    #navmq li {
        margin-bottom: 11vh; 
    }
    .nav_menu >ul> li{
        font-size: 1em;
    }
    .cardCompetence{
        width: 100px;
        height: 110px;

    }
    .textCompetence{
        display: none;
    }
    .tooltip{
        margin-left: -100px;
    }
}
@media (max-width:767px){ /* Format télèphone */
    header{
        left:-300px;
    }
    main {
        margin-left: 0 ;
      }
    #desc{
        font-size: 150%;
    }
    #nom{
        font-size: 300% ;
       
    }
    #image{
        width: 150%;
    }
    .cardCompetence{
        width: auto;
        height: auto;
    }
    .imgCompetence > svg{
        width: 50%;
        height: 50%;
    }
    .textCompetence{
        display: none;
    }
    .card{
        width: auto ;
    }
    .cardContenu{
        width: auto;
    }
    .cardV{
        height: auto;
        width: auto; 
    }
    .row,.rowV{
        display: flex;
        flex-direction: column;
    }
    .passeportDev{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .cardCompetence,.cardV,.card{
        margin: 14px 0px;
    }
    #navmq{
        display: none;
    }
    .titreContact{
        display: none;
    }
    .rond{
        width: 40px;
        height: 40px;
        border: none;
    }
    .iconeC{
        width: 20px;
        height: 20px;
    }
    .sousmarin{
        display: none;
    }
    .tooltip{
        display: none;
    }
}
@media screen and (min-width: 3840px) {
    header{
        max-width: 700px;
    }
    .profile {
        width: 280px;
    }
    h2 {
        font-size: 3em;
    }
    /* Rajouter ! important  */
    h3{
        font-size: 2.5em;
    }

    p{
        font-size: 1.5em;
    }
    #desc{
        font-size: 4em;
    }
    main{
        margin-left: 700px;
    }
}