@media (min-width:768px) and (max-width:1023px) {
    header{
        left:-300px;
    }
    main {
        margin-left: 0 ;
    }
    #desc{
        font-size: 160%;
    }
    #nom{
        font-size: 310% ;
       
    }
    #image{
        width: 100%;
    }
    
    .card{
    }
    .nav_menu >ul> li{
        font-size: 1em;
    }
}



@media (max-width:767px){ 
    /* essayé 480px pour tel sinon c'est 767*/
    header{
        left:-300px;
    }
    main {
        margin-left: 0 ;
      }
    #desc{
        font-size: 150%;
    }
    #nom{
        font-size: 300% ;
       
    }
    #image{
        width: 150%;
    }
    .cardCompetence{
        width: auto;
        height: auto;

    }
    .imgCompetence > svg{
        width: 50%;
        height: 50%;
    }
    .textCompetence{
        display: none;
    }
    .card > h4{
        font-size: 10pX;
    }
    .card{
        width: auto ;
    }
    .cardContenu{
        width: auto;
    }

    .cardV{
        height: auto;
    }
    .row{
        display: flex;
        flex-direction: column;
    }
    .cardCompetence,.cardV,.card{
        margin: 14px 0px;
    }

}