/* nav */
header{
    display: flex;
    flex-direction: column;
    position: fixed;

    width: 100%;
    max-width: 300px;
    height: 100%;

    font-family:var(--fontfam);
    color: white;
}

.contain_nav{
    display:flex;
    flex-direction: column;
    background: #667480;
    height: 100%; 
}


.nav_menu >ul> li{
margin: 10% 0; 
font-size: 1.30em;
}


.nav_menu > ul>li> a{
    color: white;
}
.nav_menu > ul>li> a:hover {
    color: rgb(170, 170, 190);
}


.nav_menu > ul>li> a> i{
 margin-right: 5px;
}

#profile{
    margin: 8% 0;
    display: flex;
    justify-content: center;

}
.profile{
    width: 40%;
    border-radius: 50%;
}
.profileinfo{
    display: flex;
    flex-direction: column;
}
.copyright{

    color: black;
}
.likedin{
    display: flex;
    justify-content: center;
}
#navmq{
    display: none;
}
