.row{
display: flex;
justify-content: space-between;
margin-bottom: 10px  ;

}
.card{  
    display: flex;
    flex-direction: column;
    max-width: 250px;
    width: 100%;
    border: solid 1px #667480;
    border-radius: 25px ;
}
.card > h3 {
    margin-top: 5px;
    display: flex;
    justify-content: center;
}
.trait{
    border: 1px #667480 solid;
}

.card >.cardContenu >a> img{
    text-align: center;
    width: 100%;
}
.card >.cardContenu > p {
    color:black;
    margin:  0 25px ;
}
.img{
    text-align: center;
    margin-top: 20px ;
    
}
#p1,#p2,#p3,#p4{
    width: 60%;
}