.row{
display: flex;
justify-content: space-between;
margin-bottom: 10px  ;

}

.card{  
    display: flex;
    flex-direction: column;
    max-width: 225px;
    width: 100%;
    border-radius: 25px ;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;

    animation-name: bounce-back;
    animation-timing-function: ease;
    animation-duration: 600ms;
    animation-fill-mode: forwards;
}
.card:hover{
animation-name: bounce;

 animation-timing-function: ease;
    animation-duration: 600ms;
  animation-fill-mode: forwards;
}
.card > h4 {
    margin-top: 10px;
    text-align: center;
}
.trait{
    border: 1px #667480 solid;
}

.card >.cardContenu >a> img{
    text-align: center;
    width: 100%;
}
.card >.cardContenu > p {
    color:black;
    margin:  0 25px ;
}
.img{
    text-align: center;
    margin-top: 20px ;
    
}
#p1,#p2,#p3,#p4{
    width: 60%;
}