@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root{
    
    /* font */
    --fontfamtitre:'Raleway', sans-serif;
    --fontfam: 'Poppins', sans-serif;

    --titlefont:32px;

    /* color */
    --c1:;
    --c2:;
    --c3:;
    --c4:;



}

.contenu{
    padding-left: 3%;
}
.text-center{
    text-align: center;
}
body{
    margin:0;
}
ul{
    list-style: none;
    
}
main{   
    margin-left: 300px;
    font-family: var(--fontfam);
}
section{
    margin-left: 10%;
    width: 70%;
}
a{
    text-decoration: none;
}
h1,h2,h3,h4{
    font-family: var(--fontfamtitre);
}




/* main */

/* acuueil */

.large-header {

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-image: url('https://www.marcoguglie.it/Codepen/AnimatedHeaderBg/demo-1/img/demo-1-bg.jpg');
    background-size:cover;

}

#nom{
    font-family: var(--fontfamtitre);
    font-size:;
    color: white;
}
