@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root{
    
    /* font */
    --fontfamtitre:'Raleway', sans-serif;
    --fontfam: 'Poppins', sans-serif;

    --titlefont:32px;

    /* color */
    --c1:;
    --c2:;
    --c3:;
    --c4:;



}

.contenu{
    padding-left: 2.5%;
}
.text-center{
    text-align: center;
}
body{
    margin:0;
}
ul{
    list-style: none;
    
}
main{   
    margin-left: 300px;
    font-family: var(--fontfam);
}
section{
    margin-left: 3%;
    width: 89%;
}
a{
    text-decoration: none;
}
h1,h2,h3,h4{
    font-family: var(--fontfamtitre);
}


/* acuueil */

.large-header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    margin: auto;
    overflow: auto;
    background: linear-gradient(315deg, rgb(127, 132, 127) 3%, rgb(186, 184, 169) 38%, rgb(199, 207, 201) 68%, rgb(177, 139, 122) 98%);
    animation: gradient 13s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.wave {
    background: rgb(255 255 255 / 25%);
    border-radius: 1000% 1000% 0 0;
    position: fixed;
    width: 200%;
    height: 12em;
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.wave:nth-of-type(2) {
    bottom: -1.25em;
    animation: wave 18s linear reverse infinite;
    opacity: 0.8;
}

.wave:nth-of-type(3) {
    bottom: -2.5em;
    animation: wave 20s -1s reverse infinite;
    opacity: 0.9;
}

@keyframes wave {
    2% {
        transform: translateX(1);
    }

    25% {
        transform: translateX(-25%);
    }

    50% {
        transform: translateX(-50%);
    }

    75% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(1);
    }
}

#nom{
    font-family: var(--fontfamtitre);

    color: white;
}
