.imgV{
    text-align: center;
}

.espaceV{ /* espacement entre le titre et les cartes */
    padding-bottom: 15px;
}


.cardV{
    display: flex;
    flex-direction: column;
    width: 28%;
    height: auto;
    overflow-y:hidden;
    
    padding: 2%;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.cardV > a {
    text-align: center;
    Color: rgb(110, 130, 110);

}
.cardV > a :hover{
    color:rgb(153, 191, 153);
}

.titreV{
    font-size: 18px;
    font-weight: 600;

}
.rowV{
    display: flex;
justify-content: space-between;
margin-bottom: 10px  ;
align-items: flex-start;

}

