.imgV{
    text-align: center;
}

.espaceV{ /* espacement entre le titre et les cartes */
    padding-bottom: 15px;
}


.cardV{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    height: auto;
    overflow-y:hidden;

    
    margin-bottom: 30px;
    padding: 2%;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.cardV > a {
    text-align: center;
    Color: rgb(110, 130, 110);

}
.cardV > a :hover{
    color:rgb(153, 191, 153);
}

.titreV{
    font-size: 18px;
    font-weight: 600;

}
.rowV{
    display: flex;
justify-content: space-between;
margin-bottom: 10px  ;
align-items: flex-start;
}
.source{

    padding: 2px 10px;
    background-color:rgba(110, 130, 110, 0.384) ;
    border-radius: 25px;
}
.source> b {
 font-weight: 400;
 color: rgb(110, 130, 110);

}
.premierePartie,.deuxiemePartie,.troisiemePartie{
    margin-top: 30px;
}

.partie {
    padding: 15px;

    border-radius: 25px;
    margin: 25px 0 ;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

